@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* General styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #00a69c26;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

/* Styling home page */

.productlist-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  font-weight: 700;
}

.productslists__card {
  box-shadow: 0 4px 8px 0 rgb(39, 158, 152, 0.12),
    0 2px 4px 0 rgb(39, 158, 152, 0.12);
  overflow: hidden;
  border-radius: 15px;
  margin: 15px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.productslist__image {
  width: 250px;
  height: 160px;

  box-shadow: 0 2px 4px 0 rgb(39, 158, 152, 0.05);
}

.productslist__title {
  text-align: center;
  margin: 25px 10px;
  text-decoration: none;
  color: #00a69c;
}

.productslist__link {
  margin: 0;
}

.overlay {
  position: absolute;
  background-color: gray;
  border-radius: 15px;
  opacity: 0.5;
  height: 300px;
  width: 250px;
  z-index: 1;
}

/* Styling Checkboxes */
.read {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  z-index: 2;
  font-weight: 400;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  min-width: 100px;
}

.checkbox {
  z-index: 2;
  align-self: center;
  margin: 0 5px;
  margin: 0 5px 10px 5px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: teal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Styling Article Page */
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(39, 158, 152, 0.12),
    0 2px 4px 0 rgb(39, 158, 152, 0.12);
  overflow: hidden;
  border-radius: 15px;
  height: 80vh;
  max-width: 600px;
  min-width: 500px;
  background-color: #fff;
}
.article-card__image {
  height: 100%;
  width: 100%;
}

.article-card__title {
  margin: 40px 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.article-card__description {
  padding: 25px 100px;
  text-align: center;
}

.home-link {
  margin-top: 25px;
}
